<h4>
 Category: {{ siteDetails.name }}  <br><span *ngIf="studyItem">Item: <i>{{ studyItem }}</i></span>
</h4>
<h4 *ngIf="!studyItemListingDataLength">This study is scheduled to start on: {{ siteDetails.start_date | date :'fullDate'  }} </h4>
<div *ngIf="fieldlist">
    <h5  *ngIf="studyItemListingDataLength">Please click on link below to begin study</h5>
<p  *ngFor="let field of fields">
 <strong><a  (click)="onItemQuestions(field)"  routerLinkActive="active" >{{field.name }}</a></strong>
  <br>
</p>
</div>
<div *ngIf="itemQuestions">
  <app-form [siteDetails]="itemQuestions"  (close)="onClose($event)"></app-form>
</div>
