 
<router-outlet></router-outlet>

<!-- <div>
    <h2>Job Application for Heroes</h2>
    <app-dynamic-form  *ngIf="questions" [questions]="questions"></app-dynamic-form>
</div>
-->

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">Dynamic Forms</div>
        <div class="card-body">
            <dynamic-form-builder *ngIf="fields" [fields]="getFields()" (onSubmit)="parentSubmit($event)"></dynamic-form-builder>
        </div>
    </div>
</div>

<!--<div class="col-sm-12">
    <div class="form-group" [formGroup]="form" *ngIf="fields">
        <label>JSON</label>
        <textarea formControlName="fields" class="form-control" rows="3"></textarea>
    </div>
</div> -->
