<p>
  sub-listing-edit works!
</p>
{{ siteDetails | json}}
<div (click)="onCancel()">Cancel</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" formControlName="name" class="form-control" placeholder="{{ placeholder }}"
           [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">name is required</div>

    </div>
  </div>
  <div class="form-group">
    <label for="note">Notes</label>
    <textarea formControlName="note" class="form-control" placeholder="{{ placeholder }}"
              [ngClass]="{ 'is-invalid': submitted && f.note.errors }"></textarea>
    <div *ngIf="submitted && f.note.errors" class="invalid-feedback">
      <div *ngIf="f.note.errors.required">name is required</div>
    </div>
  </div>
  <div class="form-group">

    <input type="hidden" formControlName="study_id" class="form-control" placeholder="{{ placeholder }}"
           [ngClass]="{ 'is-invalid': submitted && f.study_id.errors }"/>
    <div *ngIf="submitted && f.study_id.errors" class="invalid-feedback">
      <div *ngIf="f.study_id.errors.required">name is required</div>
    </div>
  </div>
  <br>

  <br>
  <button (click)="onSubmit()">Submit</button>
</form>
{{ form.value | json}}
