<div *ngIf="!moduleSwitcher">
    <p><a (click)="onCreateStudy()">Create New Study</a></p>
    {{ fields | json }}
   <p *ngFor="let field of fields"><a  (click)="onModuleSwitcher(field)"
       routerLinkActive="active" >{{field.name }}</a> | <a (click)="onEditStudy([field.id])">Edit</a> | <a (click)="onUsers([field.id])">User Invite</a> | <a (click)="onStudyItemsAndParticipants([field.id])">Study Items and Participants</a> | <a (click)="onSubListings([field.id])">Study Listings</a>
       <br>{{ field.description }}

      </p>
</div>


<div *ngIf="createStudy">
    <app-study-creater (close)="onClose($event)"></app-study-creater>
</div>

<div *ngIf="editStudy">
    <app-study-creater-edit [siteDetails]="editStudy"  (close)="onClose($event)"></app-study-creater-edit>
</div>

<div *ngIf="studyItemsAndParticipants">
    <app-sub-user-listing [siteDetails]="studyItemsAndParticipants"  (close)="onClose($event)"></app-sub-user-listing>
</div>

<div *ngIf="subListing">
    <app-sub-listing [siteDetails]="subListing"  (close)="onClose($event)"></app-sub-listing>
</div>



<div *ngIf="users">
    <app-users [siteDetails]="invite"  (close)="onClose($event)"></app-users>
</div>


<div *ngIf="moduleSwitcher">
            <app-study-listing [siteDetails]="moduleSwitcher" (close)="onClose($event)"></app-study-listing>
    </div>



