<p>STUDIES SUB LISTING</p>
<a  (click)="onAddStudy(fields)"  routerLinkActive="active" >Add New Study Item</a>
| <a  (click)="onSubListing(fields)"  routerLinkActive="active" >Studies</a>

<div *ngIf="addStudy">
    <div (click)="onSubListing(fields)">Cancel</div>
  <app-sub-category [siteDetails]="addStudy"  (close)="onClose($event)"></app-sub-category>
</div>


<div *ngIf="subListing">
    <div (click)="onClose()">Cancel</div>
  <p *ngFor="let field of fields" (click)="onSubListingEdit(field)" >
     <a  (click)="onSubListingEdit(field)"  >{{field.name }}</a>

    <br>

  </p>
</div>


<div *ngIf="subListingEdit">
    <div (click)="onSubListing(fields)">Cancel</div>
   <app-sub-listing-edit [siteDetails]="subListingEdit"  (close)="onClose($event)"></app-sub-listing-edit>
 </div>


