<p>STUDIES LISTINGS</p>



 | <a  (click)="onAddStudy(fields)"  routerLinkActive="active" >Add Study</a>
| <a  (click)="onSubListing(fields)"  routerLinkActive="active" >Edit Study</a>

<div *ngIf="addStudy">
  <app-sub-category [siteDetails]="addStudy"  (close)="onClose($event)"></app-sub-category>
</div>


<div *ngIf="subListing">

  <p *ngFor="let field of fields" (click)="onSubListingEdit(field)" >
     <a  (click)="onSubListingEdit(field)"  >{{field.name }}</a>

    <br>

  </p>
</div>


<div *ngIf="subListingEdit">

   <app-sub-listing-edit [siteDetails]="subListingEdit"  (close)="onClose($event)"></app-sub-listing-edit>
 </div>


