
<h2>Questions for Study ~ {{ siteDetails.name}}</h2>
<div *ngIf="createNewField">

    <button (click)="onCreateNewField()">Addr - New Field</button>
    <div (click)="onCancel()">Cancel</div>
</div>

<div *ngIf="!showListingEdit">
    <div *ngIf="showListingCreate">
        <p>Study Listing</p>
        <app-form-menu [studyId]="studyId"></app-form-menu>
    </div>

    <div *ngFor="let field of fields">
        <p> Type: {{ field.type }} <br> Question: {{ field.label }}</p>
        <ul>
            <option *ngFor="let option of field.options">{{ option.label }} {{option.key == field.value ? 'default' : ''
                }}
            </option>
        </ul>
        <a (click)="onShowListingEdit(field.question_uniqid)">
            Edit
        </a>
    </div>
</div>
<div *ngIf="!fields">
    <p>Loading...</p>
</div>

<div *ngIf="showListingEditor">
    <div (click)="onCancel()">Cancel</div>
    <app-study-listing-edit [siteDetails]="showListingEdit" (close)="onClose($event)"></app-study-listing-edit>

</div>




